h1 {
    text-align: center;
  }

.traffic-light {
    margin: 30px auto; 
    padding: 20px;
    width: 200px;
    height: 550px;
    background-color: #282323;
    border-radius: 40px;
}
.bulb {
    margin: 25px auto;
    width: 150px;
    height: 150px;
    background-color: #181616;
    border-radius: 50%;
    transition: background 500ms;
}